<!-- Footer Start -->
<footer class="footer footer-light footer-bar">
    <div class="footer-py-30">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="text-sm-start">
                        <p class="mb-0">
                            {{ $yearToken := (cond (isset .Site.Params (lower "copyrightYearToken")) $.Site.Params.copyrightYearToken ":YEAR:") }}
                            {{ replace $.Site.Params.footer.copyright $yearToken (string (now.Format "2006")) | markdownify }}
                            ·
                            <a href="{{ "docs/a-propos/declaration-accessibilite/" | relURL }}" style="white-space: nowrap;">Déclaration d'accessibilité</a>
                            ·
                            <a href="{{ "docs/a-propos/declaration-ecoconception/" | relURL }}" style="white-space: nowrap;">Déclaration d'écoconception</a>
                            ·
                            <a href="https://bff.ecoindex.fr/redirect/?url=https://nicolasbordier.github.io/sudo-less/" target="_blank" rel="noopener">
                                <img src="https://bff.ecoindex.fr/badge/?theme=light&url=https://nicolasbordier.github.io/sudo-less/" alt="Ecoindex Badge" style="vertical-align: middle;" width="108" height="32" loading="lazy" />
                            </a>
                        </p>
                    </div>
                </div>
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->
